################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestBinServer/v14/.suo
/.vs/restore.dg
bin/
